# SPSS Modelerのフィールド順序ノードをPythonで書き換える

以下のデータの列の順序を変えます
<BR>■データ：COND2n.csv<BR>
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/f36120bb-57d1-34ae-92af-07a080085277.png)

In [1]:
!wget https://raw.githubusercontent.com/hkwd/200611Modeler2Python/master/data/COND2n.csv

--2020-12-16 05:29:19--  https://raw.githubusercontent.com/hkwd/200611Modeler2Python/master/data/COND2n.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146 [text/plain]
Saving to: ‘COND2n.csv.1’

COND2n.csv.1        100%[===================>]     146  --.-KB/s    in 0s

2020-12-16 05:29:20 (5.73 MB/s) - ‘COND2n.csv.1’ saved [146/146]

In [2]:
import pandas as pd
df1 = pd.read_csv('COND2n.csv')
df1.head()

   Time  Power  Temperature  Pressure  Uptime  Status  Outcome
0   190   1079          308         0       3       0      202
1   191   1083          308         0       3       0      202
2   192   1080          309         0       3       0      202
3   193   1080          309         0       3       0      202

列順序を
Time,Power,Temperature,Pressure,Uptime,Status,Outcome
の順序から
Time,Uptime,Power,Temperature,Pressure,Outcome,Status
に変更します。
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/48c90cdf-03e8-6d37-df2a-e757cbcf8876.png)
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/e1809fda-9da1-7c1a-a024-ee6e612c1bb8.png)

In [3]:
#列を入れ替える１：すべての列を記載する
df1_1=df1[['Time','Uptime','Power','Temperature','Pressure','Outcome','Status']]
df1_1

   Time  Uptime  Power  Temperature  Pressure  Outcome  Status
0   190       3   1079          308         0      202       0
1   191       3   1083          308         0      202       0
2   192       3   1080          309         0      202       0
3   193       3   1080          309         0      202       0

In [4]:
#列を入れ替える２：3つのDFを作って連結する
df1_2=pd.concat([df1[['Time','Uptime']],
                 df1.loc[:,'Power':'Pressure'],
                 df1[['Outcome','Status']]], axis=1, join='inner')
df1_2

   Time  Uptime  Power  Temperature  Pressure  Outcome  Status
0   190       3   1079          308         0      202       0
1   191       3   1083          308         0      202       0
2   192       3   1080          309         0      202       0
3   193       3   1080          309         0      202       0

In [5]:
#列を入れ替える３：列のリストオブジェクトを作る
collist=df1.columns.tolist()

df1_3=df1[['Time', 'Uptime']+
          collist[collist.index('Power'):collist.index('Pressure')+1]+
          ['Outcome','Status']]
df1_3

   Time  Uptime  Power  Temperature  Pressure  Outcome  Status
0   190       3   1079          308         0      202       0
1   191       3   1083          308         0      202       0
2   192       3   1080          309         0      202       0
3   193       3   1080          309         0      202       0

In [6]:
#列を入れ替える4：切り出したDFから列のリストオブジェクトを作る
collist= df1.loc[0:0,'Power':'Pressure'].columns.tolist()

df1_3=df1[['Time', 'Uptime']+
          collist+
          ['Outcome','Status']]
df1_3

   Time  Uptime  Power  Temperature  Pressure  Outcome  Status
0   190       3   1079          308         0      202       0
1   191       3   1083          308         0      202       0
2   192       3   1080          309         0      202       0
3   193       3   1080          309         0      202       0

Merge, join, concatenate and compare — pandas 1.1.5 documentation<BR> https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
<BR>pandas.DataFrameの構造とその作成方法 | note.nkmk.me <BR>https://note.nkmk.me/python-pandas-dataframe-values-columns-index/
<BR>pythonのリスト連結方法，list.extend()と “+” 演算子の違い - Qiita<BR> https://qiita.com/harhogefoo/items/64ae27228217a1821996

In [7]:
import sys

print(sys.version)

3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0]

In [8]:
print(pd.__version__)

1.0.5