# SPSS Modelerの重複ノード・ノードをPythonで書き換える。①最初に購入したアイテムの特定。②商品カテゴリ内の売上1位アイテムの特定


■加工前<BR>
誰（CUSTID）がいつ（SDATE）何（PRODUCTID、L_CLASS商品大分類、M_CLASS商品中分類）をいくら（SUBTOTAL）購入したかが記録されたID付POSデータを使います。
6フィールド、28,599件あります。
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/7139e479-f2b3-44db-2b5b-d5b785cc9cc8.png)

In [1]:
!wget https://raw.githubusercontent.com/hkwd/200611Modeler2Python/master/data/sampletranDEPT4en2019S.csv

--2020-09-18 07:11:22--  https://raw.githubusercontent.com/hkwd/200611Modeler2Python/master/data/sampletranDEPT4en2019S.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.48.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1463149 (1.4M) [text/plain]
Saving to: ‘sampletranDEPT4en2019S.csv’

100%[======================================>] 1,463,149   --.-K/s   in 0.04s

2020-09-18 07:11:23 (36.5 MB/s) - ‘sampletranDEPT4en2019S.csv’ saved [1463149/1463149]

In [2]:
import pandas as pd
df = pd.read_csv('sampletranDEPT4en2019S.csv')

# ①最初に購入したアイテムの特定
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/e2978741-b1e3-793f-3716-3b2af47cf898.png)
グループ化のキーフィールドはCUSTIDのみにします。これによって一つのCUSTIDに対して1レコードだけを抽出します。
グループ内でレコードをソートでSDATEを昇順で指定します。これでCUSTID毎にもっとも古いトランザクションが選ばれます。
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/6dec9bd5-bcaa-89db-d2fb-afa6ab5e6cf2.png)

In [3]:
#CUSTIDとSDATEでソート
df_sorted=df.sort_values(['CUSTID','SDATE'])
#CUSTID毎に先頭行を抽出
df_sorted.drop_duplicates(subset='CUSTID')

       CUSTID       SDATE  PRODUCTID    L_CLASS      M_CLASS  SUBTOTAL
0      100001  2019-07-02    9937845        BAG        BAG01      1740
11     100004  2019-01-16    9905063      SHOES      SHOES03     12850
20     100006  2019-01-07    9937850        BAG        BAG02      1500
23     100008  2019-01-06    9900990  COSMETICS  COSMETICS03      6150
34     100012  2019-02-25    9900451      SHOES      SHOES03      3950
42     100016  2019-03-09    9900217  COSMETICS  COSMETICS02      7820
44     100017  2019-08-19    9901412        BAG        BAG03      4455
47     100019  2019-05-24    9911047      SHOES      SHOES01      1710
55     100020  2019-02-21    9936484        BAG        BAG03      2914
62     100021  2019-05-22    9906228  COSMETICS  COSMETICS03      2907
66     100022  2019-01-04    9914641  COSMETICS  COSMETICS03     54180
75     100023  2019-02-02    9902803      SHOES      SHOES02      2754
78     100026  2019-01-13    9901072      SHOES      SHOES03      3300
94     100027  2019-01-20    9904988        BAG        BAG01      2980
101    100028  2019-02-13    9900332      SHOES      SHOES03      7980
103    100029  2019-02-27    9900741        BAG        BAG02      4980
108    100030  2019-02-16    9937868        BAG        BAG02      2000
116    100036  2019-01-14    9900583      SHOES      SHOES02      3420
120    100037  2019-03-17    9902317        BAG        BAG01      3750
136    100038  2019-02-05    9900227  COSMETICS  COSMETICS02      3250
149    100039  2019-02-12    9901506      SHOES      SHOES02      1800
151    100040  2019-03-25    9900587      SHOES      SHOES02      4500
161    100042  2019-05-04    9900227  COSMETICS  COSMETICS02      1950
171    100043  2019-12-08    9900898  COSMETICS  COSMETICS03      4400
174    100045  2019-01-05    9901658        BAG        BAG03      2392
192    100046  2019-02-10    9905475        BAG        BAG03      3560
196    100048  2019-01-06    9904581  COSMETICS  COSMETICS03      1200
206    100049  2019-03-14    9902153      SHOES      SHOES02      1150
214    100051  2019-03-10    9930047      SHOES      SHOES02     17350
218    100054  2019-01-09    9900286        BAG        BAG03      4560
...       ...         ...        ...        ...          ...       ...
28304  105915  2019-01-02    9900227  COSMETICS  COSMETICS02      1640
28311  105916  2019-01-16    9901224        BAG        BAG03      6300
28335  105920  2019-01-16    9904370  COSMETICS  COSMETICS01      2010
28350  105925  2019-01-06    9900307        BAG        BAG02      5175
28353  105931  2019-01-06    9910824        BAG        BAG03      5400
28359  105935  2019-02-24    9900409      SHOES      SHOES02      3580
28373  105938  2019-01-14    9900307        BAG        BAG02     11520
28385  105939  2019-01-08    9904370  COSMETICS  COSMETICS01      1206
28401  105940  2019-04-30    9922692  COSMETICS  COSMETICS02      1500
28405  105941  2019-02-03    9900243      SHOES      SHOES03      5940
28421  105942  2019-01-06    9900330      SHOES      SHOES02      2200
28426  105944  2019-01-01    9902272        BAG        BAG01      2500
28435  105945  2019-02-19    9900307        BAG        BAG02      1725
28437  105946  2019-02-16    9903819  COSMETICS  COSMETICS02     12000
28452  105948  2019-03-01    9907371        BAG        BAG03      3022
28459  105950  2019-01-16    9907306      SHOES      SHOES02      1824
28464  105951  2019-01-26    9902750        BAG        BAG01      1080
28469  105952  2019-01-05    9900813      SHOES      SHOES03      3192
28480  105953  2019-01-27    9902725      SHOES      SHOES02      1194
28483  105959  2019-01-29    9901507      SHOES      SHOES02      2400
28484  105960  2019-01-14    9919918        BAG        BAG03      6900
28492  105962  2019-03-13    9900307        BAG        BAG02      1440
28505  105964  2019-01-11    9900013        BAG        BAG02      8840
28515  105965  2019-05-21    9902510  COSMETICS  COSMETICS03      2430
28518  105966  2019-07-09    9903911      SHOES      SHOES02      1190
28519  105967  2019-03-11    9931739        BAG        BAG01     57800
28521  105970  2019-02-16    9903333      SHOES      SHOES03     36000
28542  105972  2019-07-10    9939073      SHOES      SHOES03     29800
28545  105974  2019-01-07    9901515      SHOES      SHOES03      3078
28594  105978  2019-03-13    9913446      SHOES      SHOES02      3658

[2744 rows x 6 columns]

pandas.DataFrame, Seriesの重複した行を抽出・削除 | note.nkmk.me
https://note.nkmk.me/python-pandas-duplicated-drop-duplicates/

# ②商品カテゴリ内の売上1位アイテムの特定

![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/9dcc71d1-e9b9-b358-cc46-d77f46a3192a.png)


まず、レコード集計でL_CLASSとPRODUCTIDでグループ化して、SUBTOTALの合計を計算します。
![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/7541112b-16b4-aa42-56dd-9fcb5bb7212c.png)

グループ化のキーフィールドはL_CLASSのみにします。これによって一つのL_CLASSに対して1レコードだけを抽出します。
グループ内でレコードをソートでSUBTOTAL_Sumを昇順で指定します。これでL_CLASS毎にもっとも売り上げの大きい商品が選ばれます。

![image.png](https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/223763/c8d980b3-57c1-e8c8-aa45-605699ac7d38.png)

In [4]:
#大分類とPRODUCTIDで売上合計算出
df_sum=df[['L_CLASS','PRODUCTID','SUBTOTAL']].groupby(['L_CLASS','PRODUCTID'],as_index=False).sum()
#大分類内で売上順にソート
df_sum_sorted=df_sum.sort_values(['L_CLASS','SUBTOTAL'],ascending=[True,False])
#大分類の先頭行を抽出
df_sum_sorted.drop_duplicates(['L_CLASS'])

        L_CLASS  PRODUCTID  SUBTOTAL
21          BAG    9900307   1781615
1309  COSMETICS    9900217   4264450
3314      SHOES    9901062   1643300

Pandas の groupby の使い方 - Qiita
https://qiita.com/propella/items/a9a32b878c77222630ae

In [5]:
import sys

print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

In [6]:
print(pd.__version__)

0.24.1